@import "../node_modules/ol/ol.css";

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}


.map-container{
  height: 100vh;
  width: 100%;
}

.map{
  height: 100vh;
  width: 100%;
}

.clicked-coord-label{
  position: absolute;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: 5px;
}

.clicked-coord-label p {
  margin: 10px;
}


html, body {
  margin: 0;
  height: 100%;
}
.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-container:-webkit-full-screen {
  height: 100%;
  margin: 0;
}
.map-container:fullscreen {
  height: 100%;
}
/* position the rotate control lower than usual */
.map-container .ol-rotate {
  top: 3em;
}