.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .map-container {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #ccc;
  }
  
  .ol-full-screen {
    position: absolute;
    right: 10px;
    top: 20px;
  }
  
  .ol-zoom {
    position: absolute;
    top: 20px;
    left: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .ol-scale-line {
    position: absolute;
    left: 10px;
    bottom: 20px;
    width: 100px;
    background-color: white;
    padding: 5px;
  }
  
  .ol-rotate {
    position: absolute;
    right: 10px;
    top: 50px;
  }
  
  .attribution-button {
    position: absolute;
    bottom: 20px;
    right: 10px;
    z-index: 1000;
  }
  
  .attribution-content {
    position: absolute;
    bottom: 20px;
    background-color: white;
    padding: 5px;
    z-index: 1000;
    right: 35px;
  }
  
  .ol-attribution.ol-attribution {
    display: none; 
}

.modal {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50%;
    height: 50%;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    overflow: auto;
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1000;
}